{% extends "base.html" %}

{% block title %}Контакты{% endblock %}

{% load static %}

{% block content %}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('{% static 'assets/img/contact-bg.jpg' %}')">
        )">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>Форма для контактов</h1>
                            <span class="subheading">Есть вопрос? Напишите мне!</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p>Поделитесь новостью</p>
                        <div class="my-5">
                            <!-- * * * * * * * * * * * * * * *-->
                            <!-- * * SB Forms Contact Form * *-->
                            <!-- * * * * * * * * * * * * * * *-->
                            <!-- This form is pre-integrated with SB Forms.-->
                            <!-- To make this form functional, sign up at-->
                            <!-- https://startbootstrap.com/solution/contact-forms-->
                            <!-- to get an API token!-->
                        <form method="post" id="contactForm">
                            {% csrf_token %}
                            {{ form.as_ul }}
                            <!-- Submit Button-->
                            <button class="btn btn-primary text-uppercase" id="submitButton" type="submit">Отправить</button>
                        </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>
{% endblock %}
