{% extends "base.html" %}

{% block title %}Создание поста{% endblock %}

{% load static %}

{% block content %}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('{% static 'assets/img/contact-bg.jpg' %}')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>Форма для создания поста</h1>
                            <span class="subheading">Вы можете создать пост</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p>Поделитесь новостью</p>
                        <div class="my-5">
                            <form method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                {% for field in form %}
                                    <div class="mb-3">
                                        <label for="{{ field.id_for_label }}">{{ field.label_tag }}</label>
                                        {{ field }}
                                        {% for error in field.errors %}
                                            <p class="text-danger">{{ error }}</p>
                                        {% endfor %}
                                    </div>
                                {% endfor %}
                                <!-- Submit Button-->
                                <button class="btn btn-primary text-uppercase" id="submitButton" type="submit">Сохранить пост</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>
{% endblock %}
