{% extends "base.html" %}

{% block title %}Главная страница{% endblock %}

{% load static %}

{% block content %}
    <!-- Шапка страницы-->
    <header class="masthead" style="background-image: url('{% static 'assets/img/haker.jpg' %}')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="site-heading">
                        <h1>НОВОСТИ</h1>
                        <span class="subheading" style="font-size: 30px;">В мире IT</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Основное содержание-->
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <!-- Превью записей-->
                <!-- Добавьте контент, специфичный для вашей страницы, здесь -->
                <div class="post-preview">
                    <a href="{% url 'all_news' id=1 %}">
                        <h2 class="post-title">Сайт предназначен для отображения новостей в мире IT </h2>
                        <h2 class="post-subtitle">Просмотр новостей в сфере разработки</h2>
                    </a>
                    <p class="post-meta">
                        Взято из
                        <a href="https://habr.com/ru/flows/develop/articles/">Habr.com</a>

                    {% if news.has_image %}
                        Есть картинка
                        {% else%}
                        Нет картинки
                    {% endif %}
                        {{news.has_image}}
                        {{news.some_method}}
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
